

/* .header__theme-menu-list::after{
  content: "";
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-end;
  align-self: flex-start;
  margin-inline-start: 959px;
  margin-block-start: 2px;
  border-inline-end: 2px solid var(--bg-accent-color);
  border-block-start: 2px solid var(--bg-accent-color);
  block-size: 25px;
  inline-size: 25px;
}

.header__cover::after {
  content: "";
  display: flex;
  justify-self: flex-start;
  margin-inline-start: var(--page-margin);
  margin-block-end: 22px;
  border-inline-start: 2px solid var(--bg-accent-color);
  border-block-end: 2px solid var(--bg-accent-color);
  block-size: 25px;
  inline-size: 25px;
} */

.footer__cover {
  inline-size: 100%;
}

/* .content::after {
  content: "";
  position: absolute;
  display: flex;
  margin-block-start: 786px;
  border-inline-start: 2px solid var(--bg-accent-color);
  border-block-end: 2px solid var(--bg-accent-color);
  block-size: 25px;
  inline-size: 25px;
}

.footer::before {
  content: "";
  position: absolute;
  display: flex;
  margin-inline-start: 980px;
  margin-block-start: -63px;
  border-inline-end: 2px solid var(--bg-accent-color);
  border-block-start: 2px solid var(--bg-accent-color);
  block-size: 25px;
  inline-size: 25px;
} */

.title {
  justify-self: start;
  padding-inline-start: 0px;
  padding-block-start: 239px;
  inline-size: inherit;
}

.title-style {
  color: var(--title-text-color);
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  line-height: 130%;
}

.header__text {
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
  align-content: start;
  margin-inline-end: var(--page-margin);
  margin-block-start: 76px;
  inline-size: inherit;
  max-inline-size: 490px;
  max-block-size: 70px;
}

.header__text-item {
  color: var(--text-accent-color);
  font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
}

.header__title-item {
  text-shadow: 4px 4px 0px var(--title-shadow-color);
}

.content__title-font {
  color: var(--bg-accent-color);
  font-family: 'IBM Plex mono', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 130%;
}

.header__rec {
  position: absolute;
  inset: 0;
  justify-self: end;
  padding-top: var(--page-margin);
  padding-right: 50px;
}

.header__rec-text {
  color: var(--bg-accent-color);
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 139%;
  text-align: center;
}

.header__circle::after {
  content: "";
  position: absolute;
  inset: 0;
  display: inline-block;
  justify-self: end;
  margin-top: 26px;
  margin-right: 25px;
  border-radius: 50%;
  background-color: var(--bg-accent-color);
  filter: blur(3px);
  block-size: 15px;
  inline-size: 15px;
}

.content__subtitle-font {
  color: var(--text-accent-color);
  background-color: var(--bg-accent-color);
}

.page {
  max-inline-size: inherit;
}

.header__theme-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding-block-start: 18px;
}

.header__theme-menu-button {
  border: none;
  padding: 0;
  padding-inline: 12px;
  padding-block: 4px;
  outline: inherit;
  color: var(--bg-accent-color);
  font: inherit;
  font-family: 'IBM Plex mono', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__cover {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  max-block-size: 726px;
}

.content {
  padding-inline: 20px;
  background-color: var(--text-accent-color);
  max-inline-size: inherit;
}

.content__top {
 display: grid;
 grid-template-columns: 1.55fr 3fr;
 margin-block-start: 0px;
 padding-block-start: 58px;
 padding-block-end: 80px;
 max-inline-size: inherit;
}

.content__top_title {
  max-inline-size: 315px;
}

.content__sub_article-list {
  display: grid;
  row-gap: 30px;
}

.content__list-title {
  margin-block-end: 10px;
}

.content__article-font {
  color: var(--text-color);
  font-family: 'IBM Plex mono', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 130%;
}

.content__middle {
  display: grid;
  grid-template-rows: 0.97fr 6.2fr;
  padding-block-end: 80px;
  max-inline-size: inherit;
}

.content__middle_article-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.content__article-list {
  gap: 20px;
}

.content__bottom {
  display: grid;
  grid-template-columns: 1.55fr 3fr;
  max-width: inherit;
  padding-block-end: 80px;
}

.content__bottom_title {
  max-inline-size: 315px;
}

.content__bottom_subtitle {
  max-inline-size: 100%;
}

.content__bottom_article-list {
  display: grid;
}

.content__images {
  max-inline-size: inherit;
}

.content__images-title {
  margin-block-end: var(--page-margin);
}

.content__images_list {
  display: grid;
  grid-template-columns: [start-col] 1fr [middle-col] 1fr [bottom-col] 1fr [end-col];
  grid-template-rows: [start-row] 260px [middle-row] 315px [bottom-row] 428px [end-row];
  grid-auto-flow: row;
  gap: 20px;
  max-inline-size: inherit;
  max-block-size: 1090px;
}

.content__images_list-item {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  object-position: center;

}

 .content__images_list-item-pic {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.content__images_list-item-1 {
  grid-column: start-col / span bottom-col;
  grid-row: start-row / span middle-row;
}

.content__images_list-item-2 {
  grid-column: bottom-col /span 1;
  grid-row: start-row / span bottom-row;
}

.content__images_list-item-3 {
  grid-column: start-col / span middle-col;
  grid-row: middle-row / span end-row;
}

.content__images_list-item-4 {
  grid-column: middle-col / span bottom-col;
  grid-row: middle-row / span bottom-row;
}

.content__images_list-item-5 {
  grid-column: middle-col / span end-col;
  grid-row: bottom-row / span end-row;
}

.footer {
  display: grid;
  justify-content: center;
  padding-block-start: 145px;
  background-color: var(--text-accent-color);
  inline-size: 100%;
  block-size: 830px;
}

.footer__title-item {
  line-height: 82.5%;
  text-shadow: 2px 2px 0px var(--title-shadow-color);
}

.header__theme-menu-item {
  display: flex;
  justify-content: center;
  align-content: center;
}

.header__theme-menu-item .header__theme-menu-button_active:disabled {
  outline: 1px solid var(--bg-accent-color);
}

a.link-decoration {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--bg-accent-color);
}

a.link-decoration:hover {
  border-block-end: 2px solid var(--text-color);
}

a.link-decoration:focus {
  outline: 1px solid;
}

@media (min-width:375px) and  (max-width: 768px) {
  
  .page {
    max-inline-size: 768px;
  }


  .header {
    margin-block-end: 184px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    justify-content: end;
    align-content: end;
    gap: 12px;
    padding-inline-end: 22px;
    padding-block-start: 188px;
  }

  .title {
    padding-block-start: 174px;
  }

  .title-style {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 82.5%;
  }

  .header__text {
    margin-block-start: 160px;
    max-inline-size: 365px;
    max-block-size: 170px;
  }

  .content__top {
    grid-template-columns: 1.32fr 3fr;
    column-gap: 48px;
    padding-block-start: 59px;
  }

  .content__middle {
    grid-template-rows: 0.5fr 7.37fr;
    padding-block-end: 0px;
  }

  .content__top_title {
    padding-block-end: 20px;
    max-inline-size: 215px;
  }

  .content__middle_article-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }

  .content__bottom {
    column-gap: 10px;
  }
  
  .content__images_list {
    grid-template-columns: [start-col] 1fr [middle-col] 1fr [bottom-col] 1fr [end-col];
    grid-template-rows: [start-row] 192px [middle-row] 230px [bottom-row] 318px [end-row];
  }

  .footer {
    padding-block-start: 350px;
    block-size: 1085px;
  }

  .header__cover::after {
    margin-inline-start: var(--page-margin);
    margin-block-start: 1340px;
  }

  /* .content::after {
    margin-block-start: 786px;
  }
  
  .footer::before {
    margin-inline-start: 680px;
    margin-block-start: -163px;
  } */
} 

@media(100px <= width < 376px) {
  .header {
    margin-block-end: 0;
  }
  .header::after {
    margin-inline-end: 10px;
    margin-block-start:  10px;
  }

  .header__theme-menu-list {
    padding-inline-end: 12px;
    padding-block-start: 70px;
  }

  .header__cover {
    margin-inline-start: 10px;
    max-block-size: 495px;
  }

  .title {
    padding-inline-start: 0px;
    padding-block-start: 70px;
  }

  .title-style {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text {
    margin-inline-end: 10px;
    margin-block-start: 55px;
    max-block-size: 117px;
    max-inline-size: 355px;
  }

  .content {
    padding-inline: 10px;
    max-inline-size: 100%;
  }

  .content__top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 48px;
    padding-inline-start: 0px;
    padding-block-start: 40px;
    padding-block-end: 50px;
    max-inline-size: inherit;
    min-block-size: 350px;
  }

  .content__top_title {
    padding-block-end: 20px;
    max-inline-size: inherit;
  }
  .content__middle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-block-end: 50px;
  }

  .content__bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    padding-block-end: 50px;
  }

  .content__bottom_title {
    padding-block-end: 20px;
    max-inline-size: 355px;
  }

  .content__images {
    max-inline-size: inherit;
  }
  
  .content__images-title {
    margin-block-end: 10px;
  }

  .content__images_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    inline-size: 100%;
  }
  
  .footer {
    padding-block-start: 534px;
    block-size: 980px;
  }

  .header__rec {
    padding-top: 10px;
    padding-right: 38px;
  }
  
  
  .header__circle::after {
    content: "";
    margin-top: 16px;
    margin-right: 15px;
  }
  
  .header__cover::after {
    margin-inline-start: 10px;
    margin-block-start: 650px;
  }

}

@media (prefers-color-scheme: dark) {
  :root .theme_dark {
    --title-text-color: #DB00FF;
    --title-shadow-color: #FF0070;
    --bg-accent-color: #FF0070;
    --text-accent-color: #000028;
    --text-color: #F1B2CE;
    --page-margin: 20px;
  }
}
