@media (prefers-color-scheme: light) {

  @media (width <= 768px) {
    .header__title-item {
      --title-shadow-color: #FF8DCB;
    }
    .footer__title-item {
      --title-shadow-color: #FF8DCB;
    }
  }
    :root {
      --title-text-color: #FFC2E6;
      --bg-accent-color: #FF8DCB;
      --title-shadow-color: #FF0070;
      --text-accent-color: #353430;
      --text-color: #353430;
      --page-margin: 20px;
      --additional-accent-color: #353430;
      --additional-accent-color-with-opacity: #35343066;
      --main-bg-color: #FFF1F7;
    }

  .page {
    background-image: url(../images/cover-image-light.png);
  }
  .header__rec-text {
    visibility: hidden;
  }

  .header__rec::after {
    visibility: hidden;
  }
}

.page.theme_light {
  --title-text-color: #FFC2E6;
  --bg-accent-color: #FF8DCB;
  --title-shadow-color: #FF0070;
  --text-accent-color: #353430;
  --text-color: #353430;
  --page-margin: 20px;
  --additional-accent-color: #353430;
  --additional-accent-color-with-opacity: #35343066;
  --main-bg-color: #FFF1F7;
  background-image: url(../images/cover-image-light.png);

  @media (width <= 768px) {
    .header__title-item {
      --title-shadow-color: #FF8DCB;
    }
    .footer__title-item {
      --title-shadow-color: #FF8DCB;
    }
  }

  .header__rec-text {
    visibility: hidden;
  }

  .header__rec::after {
    visibility: hidden;
  }

  .header__theme-menu-button {
    padding-inline: 12px;
    padding-block: 4px;
    color: var(--additional-accent-color);
    text-align: center;
  }
  
  .header__theme-menu-item .header__theme-menu-button_active:disabled {
    outline: 1px solid var(--additional-accent-color);
  }
  
  .header__theme-menu::after {
    visibility: hidden;
  }
}