
@media(100px <= width < 376px) {
  .title-style {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__theme-menu-list {
    padding-block-start:77px;
    padding-inline-end: 24px;
  }

  .header__cover {
    max-block-size: 495px;
    margin-inline-start: 10px;
  }

  .title {
    padding-block-start: 70px;
    padding-inline-start: 0px;
  }

  .title-style {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text {
    margin-block-start: 55px;
    max-block-size: 117px;
    max-inline-size: 355px;
  }

  .content {
    padding-inline: 10px;
    max-inline-size: 100%;
  }

  .content__top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 48px;
    padding-block-start: 40px;
    padding-block-end: 50px;
    padding-inline-start: 0px;
    max-inline-size: inherit;
    min-block-size: 350px;
  }

  .content__top_title {
    max-inline-size: inherit;
    padding-block-end: 20px;
  }
  .content__middle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-block-end: 50px;
  }

  .content__bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 10px;
    padding-block-end: 50px;
  }

  .content__bottom_title {
    max-inline-size: 355px;
    padding-block-end: 20px;
  }

  .content__images {
    max-inline-size: inherit;
  }
  
  .content__images-title {
    margin-block-end: 10px;
  }

  .content__images_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    inline-size: 100%;
    gap: 10px;
  }
  
   .content__images_list-item {
    display: flex;
    inline-size: 100%;
    flex-wrap: wrap;
  }
  
   .content__images_list-item-pic {
    object-fit: cover;
    object-position: center;
    inline-size: inherit;
    block-size: 100%;
  }

  .footer {
    block-size: 1085px;
    padding-block-start: 534px;
  }
}