.page {
  max-inline-size: 1024px;
}

.header {
  background-image: url(/images/cover-image-dark.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header__theme-menu {

}

.header__theme-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 36px;
  padding-block-start: 22px;
}

.header__theme-menu-button_active {
  outline: 1px solid #32a1ce;
}

.header__theme-menu-list-item {

}

.header__theme-menu-button {
  background: transparent;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-family: 'IBM Plex mono', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-transform: lowercase;
  color: var(--bg-accent-color);
  text-align: center;

}

.header__cover {
  inline-size: 100%;
  max-block-size: 726px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  justify-content: space-between;
}

.content {
  max-inline-size: inherit;
  padding-inline: 20px;
  background-color: var(--text-accent-color);
}

.content__top {
 display: grid;
 max-inline-size: inherit;
 grid-template-columns: 1.55fr 3fr;
 margin-block-start: 0px;
 padding-block-start: 58px;
 padding-block-end: 80px;
}

.content__top_title {
  max-inline-size: 315px;
}
.content__title-font {
  font-family: 'IBM Plex mono', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--bg-accent-color);
}

.content__sub_article-list {
  display: grid;
  row-gap: 30px;
}

.content__list-item {

}

.content__list-title {
  margin-block-end: 10px;
}

.content__list-article {

}

.content__article-font {
  font-family: 'IBM Plex mono', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #F1B2CE;
}

.content__middle {
  display: grid;
  max-inline-size: inherit;
  grid-template-rows: 0.97fr 6.2fr;
  padding-block-end: 80px;
}

.content__middle_article-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}
.content__article-list {
  gap: 20px;
}

.content__bottom {
  display: grid;
  max-width: inherit;
  grid-template-columns: 1.55fr 3fr;
  padding-block-end: 80px;
}

.content__bottom_subtitle {
max-inline-size: 100%;
}

.content__bottom_article-list {
  display: grid;
}

.content__images {
  max-inline-size: inherit;
}

.content__images-title {
  margin-block-end: 20px;
}
.content__images_list {
  display: grid;
  max-inline-size: inherit;
  max-block-size: 1090px;
  grid-auto-flow: row;
  grid-template-columns: [start-col] 1fr [middle-col] 1fr [bottom-col] 1fr [end-col];
  grid-template-rows: [start-row] 260px [middle-row] 315px [bottom-row] 428px [end-row];
  gap: 20px;
}

 .content__images_list-item {
  container-type: inline-size;
  max-inline-size: inherit;
  inline-size: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  grid-auto-flow: dense;
  object-fit: cover;
}

 .content__images_list-item-pic {
  object-fit: cover;
  object-position: center;
  inline-size: inherit;
  block-size: 100%;
}

.content__images_list-item-1 {
  grid-column: start-col / span bottom-col;
  grid-row: start-row / span middle-row;
}

.content__images_list-item-2 {
  grid-column: bottom-col /span 1;
  grid-row: start-row / span bottom-row;
}

.content__images_list-item-3 {
  grid-column: start-col / span middle-col;
  grid-row: middle-row / span end-row;
}

.content__images_list-item-4 {
  grid-column: middle-col / span bottom-col;
  grid-row: middle-row / span bottom-row;
}

.content__images_list-item-5 {
  grid-column: middle-col / span end-col;
  grid-row: bottom-row / span end-row;
}

.footer {
  inline-size: 100%;
  block-size: 830px;
  display: grid;
  padding-block-start: 105px;
  justify-content: center;
}

.footer__title-item {
  line-height: 82.5%;
  text-shadow: 2px 2px 0px #FF0070;
}
