
@media (375px < width <= 768px) {

  .header__theme-menu-list {
    flex-direction: column;
    align-content: end;
    justify-content: end;
    gap: 18px;
    padding-block-start: 193px;
    padding-inline-end: 35px;
  }

  .title {
    padding-block-start: 180px;
  }

  .title-style {
    line-height: 82.5%;
    font-size: 120px;
  }

  .header__text {
    margin-block-start: 160px;
    max-inline-size: 365px;
    max-block-size: 170px;
  }

  .content__top {
    grid-template-columns: 1.3fr 3fr;
    column-gap: 48px;
    padding-block-start: 240px;
  }

  .content__middle {
    grid-template-rows: 0.5fr 7.36fr;
    padding-block-end: 0px;
  }

  .content__top_title {
    max-inline-size: 215px;
    padding-block-end: 20px;
  }

  .content__middle_article-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
  }

  .content__bottom {
    column-gap: 10px;
  }
  
  .content__images_list {
    grid-template-columns: [start-col] 1fr [middle-col] 1fr [bottom-col] 1fr [end-col];
    grid-template-rows: [start-row] 192px [middle-row] 230px [bottom-row] 318px [end-row];
  }

  .footer {
    block-size: 1085px;
    padding-block-start: 345px;
  }
} 